<configuration>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Catch All">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>